<div class='UserEditPage'>
  <%= render 'layouts/header' %>
  <div class='container'>
    <h2 class="UserEditPage_title">Edit Profile</h2>
    <%= image_tag current_user.image.url(:thumb), class: "UserEditPage_userImage" %>
    <%= form_for current_user, url: registration_path(current_user) do |f| %>
      <div class="form-group">
        <%= f.label 'Name' %>
        <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
      </div>
      <div class="form-group">
        <%= f.label '自己紹介' %>
        <%= f.text_area :self_introduction, class: "form-control", autofocus: true %>
      </div>
      <div class="form-group UserEditPage_speciality">
        得意料理
        <div class="Speciality_radio_button">
          <%= f.radio_button :speciality, :特になし %>
          <%= f.label '特になし' %>
          <%= f.radio_button :speciality, :和食 %>
          <%= f.label '和食' %>
          <%= f.radio_button :speciality, :洋食 %>
          <%= f.label '洋食' %>
          <%= f.radio_button :speciality, :中華 %>
          <%= f.label '中華' %>
          <%= f.radio_button :speciality, :お菓子 %>
          <%= f.label 'お菓子' %>
        </div>
      </div>
      <div class="form-group UserEditPage_image">
        Profile Picture
        <div class="Image_file">
          <%= f.file_field :image %>
        </div>
      </div>
      <div class="text-center">
        <%= f.submit '更新', class: "btn submitBtn" %>
      </div>
    <% end %>
  </div>
</div>
