<div class="UserShowPage">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="UserShowPage_main">
      <h2>Profile</h2>
      <div class="row">
        <div class="col-6">
          <%= image_tag @user.image.url(:thumb), class: "UserShowPage_UserImage" %>
        </div>
        <div class="col-6">
          <div class="UserShowPage_Profile">
            <ul>
              <li class="UserItem">Name :<span><%= @user.name %></span></li>
              <li class="UserItem">得意料理 :<span><%= @user.speciality %></span></li>
              <li class="UserItem">自己紹介 :<span><%= @user.self_introduction %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>